@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light-blue: #337ab7;
    --dark-blue: #254061;
    --green: #71bd51;
    --blue: #2b6394;
    --white: #fdfdfd;
    --grey: #eee;
    --dark-grey: #ccc;
    --black: #111;
}
body {
    background-color: var(--grey);
    overflow-x: hidden;
}
body, button, input {
    font-family: "Nunito";
    font-variant-numeric: lining-nums;
}
input:hover, button:hover, .link:hover, .menu-item:hover {
    filter: brightness(1.1);
    transition: filter .2s ease;
    cursor: pointer;
}
input[disabled], input[disabled]:hover {
    filter: brightness(1);
    transition: filter .2s ease;
    background-color: var(--dark-grey);
    cursor: unset;
}

/* Banner */
#banner {
    position: fixed;        /* Banner fixed to top*/
    z-index: 3;             /* Top elem on page*/
    width: 100%;            /* Banner full-screen width */
    height: 80px;           /* Banner height 80px */
    border-bottom: 2px solid var(--grey);
    background-color: var(--dark-blue);
    color: var(--white)
}
.banner-container {
    width: 100%;
    height: 100%;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 100%;
    margin: 0px 10px;
}
.icon-container img {
    max-width: 100%;
    max-height: 90%;
}
#course-title {
    font-size: 18px;
    line-height: 23px;
}

/* CONTENT */
#content {
    position: relative;
    top: 80px;
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
}
#slide-container {
    margin: 0 auto;             /* center horizontally */
    padding: 10px;              /* interior container padding */
    border-radius: 10px;        /* rounded edges of container */
    background-color: var(--white);
    background-color: var(--dark-grey);
}

/* CONTROL */
#control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
#external-links {
    display: flex;
    flex-direction: row;
}
#external-links a img {
    width: 2rem;
    filter: invert(1);
    padding: .5rem;
}
.control-button {
    border-radius: 5px;
    border-style: none;
    padding: 10px 30px;
    margin: 5px;
    color: var(--white);
    background-color: var(--light-blue);
}
.link {
    margin: 5px;
    border-radius: 10px;
    background-color: var(--light-blue);
}
.link img {
    display: block;
    padding: 5px;
}

/* SLIDE */
/* SLIDE/ MENU BANNER */
.slide {
    width: 100%;
    height: 100%;
    min-height: 500px;
    border-radius: 10px;
    background-color: var(--white);
    opacity: 0;
}
.slide-banner, .menu-banner {
    display: flex;
    align-items: center;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
    color: var(--white);
    background-color: var(--light-blue);
}
.slide-status {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: var(--dark-blue);
}

/* SLIDE CONTENT */
.slide-content {
    padding: 15px;
    color: var(--black);
    margin-top: 50px;
    opacity: 0;
}
.slide-heading {
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
}
.slide-subheading {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.slide-list {
    list-style-position: inside;
    margin: 10px;
}
.slide-list-elem {
    font-size: 15px;
    line-height: 20px;
}

/* SLIDE MENU */
.slide-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}
.menu-item {
    width: 250px;
    height: 250px;
    margin: 5px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--grey);
}
.menu-text {
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--light-blue);
}
.menu-sequence {
    background-color: var(--dark-grey);
}
.menu-link {
    background-color: var(--green);
}
.menu-menu {
    background-color: var(--blue);
}

.complete {
    filter: brightness(.8);
}
.complete:hover {
    filter: brightness(.9);
}